// Google Color Palette defined: http://www.google.com/design/spec/style/color.html

$logo: (
  "red":   #DD0000,
  "gray":  #444444,
  "white": #FFFFFF
);

$text: (
  "black": #070707,
  "gray":  #949494,
  "light-gray": #D1D1D1,
  "white": #FFFFFF
);

$accent: (
  "red":   #DD0000,
  "blue":  #183953,
  "light-gray": #F3F3F3,
);

$input: (
  "blue":  #183953,
  "gray":  #949494
);

$button: (
  "blue":  #183953,
  "light-gray":  #949494,
  "red":   #c22c26,
  "green":  #2A8039,
  "white": #FFFFFF
);

$illustration: (
  "black":  #070707,
  "red":   #DD0000,
  "blue":  #0062E2,
  "green":  #00CC51
);

$colors: (
  "logo": $logo,
  "text": $text,
  "accent": $accent,
  "input": $input,
  "button": $button,
  "illustration": $illustration
) !default;