h1{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10%;
}

h2{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p{
    font-family: 'PT Sans',
    sans-serif;
}

.subtitle{
    color: color("adeorun", "gray");
    font-size: 18px;
    font-style: italic;
}
