h1{
    font-size: 36px;
    font-family: 'Roboto Bold', sans-serif;
    text-align: center;
    margin-top: 7%;
}

h2{
    font-size: 28px;
    font-family: 'Roboto Medium', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px;
}

p{
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

.subtitle{
    color: color("adeorun", "gray");
    font-size: 18px;
    font-style: italic;
}

.sub_heading{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}