main {
    min-height: 65vh;
}

h1{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 28px;
    font-family: 'Roboto Medium', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px;
}

p{
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
}

.second-title{
    font-family: 'Roboto';
    font-size: 16px;
    color: $off-black;
}

.caption-text{
    font-family: 'PT Sans',
    sans-serif;
    font-size: 16px;
    color: black;
}

button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.subtitle{
    color: color("adeorun", "gray");
    font-size: 18px;
    font-style: italic;
}

.sub_heading{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 5%;
}

.sub_header{
    height: 20%;
    width: 100%;
    background-color: $secondary-color;
    padding: 5%;
}

.white_text{
    color: color('text', 'white');
}

.black-text{
    color: $off-black;
}

.grey-text{
    color: ("text", "grey")
}

.sticky{
    position: sticky;
    top: 10%;
}

.light-placeholder{
    color: $primary-color;
}



a:hover{
    text-decoration: underline;
}

.menu-item > a{
    color: $off-black;
}



