.home_block {
  margin: 0;
  height: calc(100vh - 96px);
}

.home_block_search.col {
  padding: 0 200px 0 200px;
  height: 100%;
}

.home_block_side.col {
  padding: 0 60px 0 60px;
  background-color: color("accent", "blue");
  height: 100%;
}

.home_block_side_button {
  margin-top: 40px;
}