// 1. Colors
// ==========================================================================

$primary-color: color("text", "black") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("accent", "blue") !default;
$success-color: color("button", "green") !default;
$error-color: color("button", "red") !default;
$link-color: color("text", "red") !default;


// 2. Extends
// ==========================================================================
 %clickable{
     border: 1px solid $secondary-color ;
     border-radius: 5px;
     padding: 2%;
     width: 48%;
     margin: 2%;
    box-sizing: border-box;
    transition: border .1s ease-in;

     &:hover {
         border: 2px solid $secondary-color;
         box-shadow: 0.5px 0.5px $secondary-color;
     }

 }


